.resume {
    box-sizing: border-box;
    background-color: white;
    color: black;
    font-family: 'Consolas','BitstreamVeraSansMono','CourierNew',Courier,monospace;
    max-width: 85em;
    margin: auto;
    text-align: left;
  }

  h1,h2{
    text-align: center;
  }

  li{
    font-size: 0.85em;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-left {
    padding: .4em 1.5em;
    flex: 15em;
    display: flex;
    align-items: center;
  }
  
  .flex-right {
    padding: .4em 1.5em;
    flex: 50%;
    align-items: center;
  }

  .container {
    padding: .6em 1.5em;
  }